<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" type="text/css">
    <link rel="stylesheet" href="/static/css/base.css" type="text/css">
</head>
<body>
    <div class="layui-container">
        <div class="layui-main site-inline layui-content">
            <h1 class="site-h1">{{.title}} 说明</h1>
        </div>

        <blockquote class="layui-elem-quote">
            本项目是一个关于gin框架的练习代码。
            采用go+mysql实现一个API应用实例。
            练习内容包括：
            中间件使用、RESTFul路由创建、mysql数据库使用、静态资源加载、页面创建等等。
            PS:Gin是用Golang实现的一种Web框架。基于httprouter，它提供了类似martini但更好性能(路由性能约快40倍)的API服务

        </blockquote>

        <fieldset class="layui-elem-field layui-field-title">
            <legend>安装方法</legend>
            <div class="layui-field-box">
                
            </div>
        </fieldset>

        <fieldset class="layui-elem-field layui-field-title">
            <legend>新增会员 <span class="layui-badge layui-bg-green">POST</span></legend>
            <div class="layui-field-box">
                内容区域
            </div>
        </fieldset>
        <fieldset class="layui-elem-field layui-field-title">
            <legend>会员列表 <span class="layui-badge layui-bg-blue">GET</span></legend>
            <div class="layui-field-box">
                内容区域
            </div>
        </fieldset>

        <fieldset class="layui-elem-field layui-field-title">
            <legend>会员详情  <span class="layui-badge layui-bg-blue">GET</span></legend>
            <div class="layui-field-box">
                内容区域
            </div>
        </fieldset>

        <fieldset class="layui-elem-field layui-field-title">
            <legend>编辑会员  <span class="layui-badge layui-bg-orange">PUT</span></legend>
            <div class="layui-field-box">
                内容区域
            </div>
        </fieldset>

        <fieldset class="layui-elem-field layui-field-title">
            <legend>删除会员 <span class="layui-badge">DELETE</span></legend>
            <div class="layui-field-box">
                内容区域
            </div>
        </fieldset>

    </div>
</body>
<script type="text/javascript" src="/static/layui/layui.js"></script>
</html>